<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="amr.ClinicDB1.dbo" connectionString="XpoProvider=MSSqlServer;data source=Amr;integrated security=SSPI;initial catalog=ClinicDB1" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>